header
  .primary
    a.logo(href="/")
      img(src="/assets/images/header-logo.png")
    ul.nav
      li: a(href="#").left Our Menu
      li: a(href="#").left Photo Gallery
      li: a(href="#").right (864) 592-2663
      li: a(href="#").right Our Story

  .masthead
    h1 Seafood, Southern Styled
    br
    p For almost 40 years, Lake Bowen Fish Camp has been serving the Upstate of South Carolina and the surrounding area the best seafood, southern styled!
      a(href="#") Learn More About Our History ›

