include includes/_head
    
body.template-index

  .wrapper.template-index
    include includes/_header

    .container
      .module.module-hours.module-1
        .header: h2 Our Dinner Hours
        .content
          dl
            dt Wednesday
            dd 4:00 - 9:00
            dt Thursday
            dd 4:00 - 9:00
            dt Friday
            dd 4:00 - 9:00
            dt Saturday
            dd 4:00 - 9:00

          h3 Country Lunch
          dl
            dt Sunday
            dd 11:00 - 2:00

      .module.module-image.module-2
        img(src="/assets/images/image1-2.jpg")
      .module.module-image.module-2
        img(src="/assets/images/image1-2.jpg")
      .module.module-image.module-2
        img(src="/assets/images/image1-2.jpg")
 
  include includes/_closing-scripts
