
footer {

	section.copyright {
		background:#000;
		padding:20px 0;
		@include ff-heading-bold;
    font-size: em(16px);
		text-align: center;
		color:$c-grey-medium;
		em {
			// color:$c-grey-dark;
			font-size: 70%;
			font-style: italic;
		}
		a {
			@include transition-hover;
			&:hover { color:$c-yellow; }
			&:active { color:#fff; }
		}
		.left, .right {
			padding:10px;
		}
		@include media($bp-large) {
		font-size: em(16px);
			.left { float: left; }
			.right { float: right; }
		}
	}

	section.colophon {
		display: none;
		// border-top:1px solid $c-grey-dark;
		padding:200px 0 80px 0;
		background:#000;
		color:$c-grey-medium;
	}

}
