//----------------- I'm Picky

* {
  box-sizing: border-box;
  position: relative;
}


//----------------- Selection Styling

::selection {
  background-color: $c-blue-light; 
  color: $c-white;
}

::-moz-selection {
  background-color: $c-blue-light;
  color: $c-white;
}

//----------------- Tell JS About Breakpoints

.js-bp-check {
  display: none !important;
  z-index: 0;
  @include media($bp-small) { z-index: 1; }
  @include media($bp-medium) { z-index: 2; }
  @include media($bp-large) { z-index: 3; }
}

//----------------- GLOBAL LAYOUT

body {
  @include ff-body;
  @include clearfix;
  -webkit-font-smoothing: antialiased;
  background: $c-black;
  color: $c-blue-dark;
  font-size: 16px;
  @include media($bp-medium) {
    font-size: $font-size;
  }
}

// Resuable Content Container
.wrapper {
  max-width: 1060px;
  background: $c-white;
  margin: 0 auto;
  padding: 0;
  @include clearfix;
}

.container {
  @include clearfix;
  padding: 10px 10px 40px;
}

//----------------- Type Tags

//-- Headlines

h1 {
  @include ff-heading;
  font-size: em(48px);
}

h2 {
  @include ff-heading;
  font-size: em(20px);
}

h3 {
  @include ff-heading;
  font-size: em(16px);
}

hr {
  background: url("/assets/images/divider-blue.png") no-repeat center center;
  border: 0;
  height: 19px;
  width: 100%;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color:inherit;
}

p {
  line-height: 29px;
  max-width: 540px;

  &.center {
    max-width: none;
     @include media($bp-medium) {
      text-align: center;
    }
  }

  a {
    border-bottom: 2px solid $c-blue-light;
  }
}
