//----------------- I'm Picky

* {
  box-sizing: border-box;
  position: relative;
}


//----------------- Selection Styling

::selection {
  background-color: $c-blue-light; 
  color: $c-white;
}

::-moz-selection {
  background-color: $c-blue-light;
  color: $c-white;
}

//----------------- Tell JS About Breakpoints

.js-bp-check {
  display: none !important;
  z-index: 0;
  @include media($bp-small) { z-index: 1; }
  @include media($bp-medium) { z-index: 2; }
  @include media($bp-large) { z-index: 3; }
}

//----------------- GLOBAL LAYOUT

body {
  @include ff-body;
  @include clearfix;
  -webkit-font-smoothing: antialiased;
  background: $c-black;
  color: $c-blue-dark;
  font-size: $font-size;

  @include media($bp-medium) {
    font-size: 20px;
  }
}

// Resuable Content Container
.wrapper {
  max-width: 1060px;
  background: $c-white;
  margin: 0 auto;
  padding: 0;
  @include clearfix;
}

//----------------- Type Tags

//-- Headlines

h1 {
  @include ff-heading;
  font-size: em(33px);
  margin-bottom: 20px;
  // color:$c-green;
  @include media($bp-medium) {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color:inherit;
}

p {
  line-height: em(36px);
  max-width: 540px;

  &.center {
    max-width: none;
     @include media($bp-medium) {
      text-align: center;
    }
  }

  a {}
}
