header {
  background-color: $c-blue-dark;
  // ---------- Primary
  .primary {
    background: $c-blue-light;
    padding: 20px;
    text-align: center;
    @include media($bp-medium) {
      padding: 0;
      height: 164px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 6666;
      background: url("/assets/images/header-bg.png") no-repeat top center;
    }

    .logo {
      box-sizing: content-box;
      padding: 14px;
      display: block;
      max-width: 283px;
      height: 94px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    .nav {
      list-style: none;
      @include media($bp-medium) {
        position: absolute;
        width: 100%;
        padding: 0 24px;
        top: 40px;
      }

      a {
        color: $c-black;
        padding: 12px;
        display: block;
        @include ff-heading;
        @include media($bp-medium) {

          &.left { float: left; }
          &.right { float: right; }
        }
      }
    }
  }

  // ---------- Masthead
  .masthead {
    padding: 60px 20px;
    color: $c-white;
    text-align: center;
     @include media($bp-medium) { padding: 500px 0 60px; }
    p {
      margin: 0 auto;
      font-style: italic;
      a.cta {
        margin-top: 16px;
        display: inline-block;
      }
    }
  }
}
