
//------------------ Base
.module {
  border: 1px solid $c-blue-light;
  margin: 20px 0;
  @include media($bp-medium) {
    float: left;
    margin: 0;
    margin-left: 2.5%;
    margin-top: 2.5%;
    &-1 { width: 31%; }
    &-2 { width: 62%; }
  }
  
  .header {
    background: url("/assets/images/module-bg.png") top left;
    height: 82px;
    padding: 20px 20px 0;
    color: $c-white;
  }

  .content { padding: 10px 20px 20px; }
}

//------------------ Hours
.module-hours {
  dl {
    @include clearfix;
  }
  dd, dt { padding: 10px 0; display: inline-block; }
  dt { float: left; clear: left; }
  dd { float: right; clear: right; }
  h3 {
    margin: 26px 0 5px;
  }
}

//------------------ Images
.module-image {
  border: 0;
  img { width: 100%; }
}
