
// Ooops this sass isn't dry #moist-coding

nav {
	z-index: 6000;
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	background:rgba(#fff, 0.96);
	box-shadow: 0px 0px 4px 2px rgba(#000, 0.06);
	height:62px;
	// @include transition-hover;
	// .pageinfo {
	// 	@include transition-hover;
	// 	opacity: 0;
	// 	text-align: center;
	// 	font-size: em(14px);
	// 	padding:30px 0 0 0;
	// 	color:$c-grey-light;
	// 	span {
	// 		color: rgba($c-grey-light,0.5);
	//     font-size: 80%;
	// 		vertical-align: 1.5px;
	// 	}
	// }
	.brand {
		@include transition-hover;
    width: 30px;
    margin: 20px auto 0 auto;
    display: block;
    opacity: 0.1;
    img {
    	width: 30px;
    }
    &:hover {
    	opacity: 0.2;
    }
	}
	.link {
		padding:9px;
		border-radius:50%;
		background:rgba(#fff, 0.8);
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
		display: inline-block;
		height: 40px;
		width: 40px;
		top: 11px;
		position: absolute;
		@include transition-hover;
		img {
			opacity: 0.8;
			@include transition-hover;
		}
		&.back {
			left:14px;
			img {
				height: 20px;
				padding: 1px 0px 0 4px;
			}
		}
		&.connect {
			right:14px;
			img {
				height: 22px;
				padding: 0;
			}
		}
		&:hover {
			transform: scale(1.1);
			box-shadow: 0px 0px 0px 2px #000;
			img {
				opacity: 1;
			}
		}
		&:active {
			transform: scale(0.9);
		}
	}
	// @include media($bp-small) {
	// 	&:hover {
	// 		background:rgba(#fff, 0.98);
	// 		box-shadow: 0px 0px 4px 2px rgba(#000, 0.06);
	// 		// .brand {
	// 		// 	opacity: 1;
	// 		// }
	// 	}
	// }

}

// nav {
// 	background:#fff;
// 	opacity:1;
// 	padding:20px;
// 	text-align:center;
// 	.link {
// 	  text-transform: uppercase;
// 	  letter-spacing: 1px;
// 	  // color: #000;
// 	  @include ff-heading-medium;
// 	  .page-name {
// 	  	display: none;
// 	  }
// 	}
// 	.link.right { display:none; }
// }

// @include media($bp-medium) {
// 	nav {
// 		@include clearfix;
// 		@include transition-hover;
// 		background: rgba(#fff,0.98);
// 		color: $c-grey-medium;
// 		padding:0;
// 		left:0;
// 		right:0;
// 		top:0;
// 		width:100%;
// 		position: fixed;
// 		z-index: 5000;
// 		border-bottom: 1px solid rgba(0,0,0,0.1);
// 		// &.headroom { transition: transform 200ms linear; }
// 		// &.headroom--pinned { transform: translateY(0%); }
// 		// &.headroom--unpinned, &.headroom--top { transform: translateY(-100%); }
// 		&:hover { }
// 		.link {
// 			@include ff-heading-medium;
// 		  text-align: left;
// 		  font-size: em(12px);
// 		  letter-spacing: 1px;
// 		  color: $c-grey-medium;
// 		  padding:16px 10px;
// 		  &.left {
// 		  	float: left;
// 		  }
// 		  &.right {
// 		  	float: right;
// 		  	display: block; // this overwrites the mobile style - sorry for the lazy.
// 		  }
// 		  .brand {
// 		  	@include ff-heading-bold;
// 		  	padding-left:36px;
// 		  	img {
// 		  		position: absolute;
// 		  		top:-6px;
// 		  		left:0;
// 		  	}
// 		  }
// 		  .page-name {
// 		  	display: inline-block;  // this overwrites the mobile style - sorry for the lazy.
// 		  	color: $c-grey-dark;
// 		  	&:before {
// 		  		color: $c-grey-medium;
// 		  		content: " / ";
// 		  		font-size: 90%;
// 		  		vertical-align: top;
// 		  	}
// 		  }
// 		  .connect {
// 		  	padding: 6px 12px;
// 		  	border:1px solid rgba($c-grey-light, 0.3);
// 		  	border-radius: $border-radius;
// 		  	&:hover {
// 		  		border-color:$c-grey-light;
// 		  	}
// 		  }
// 		  a {
// 		  	@include transition-hover;
// 		  	&:hover {
// 			  	color: #000;
// 			  }
// 		  }
// 		}
// 	}
// }