

//----------------- Breakpoints, Susy, & Thangz

$bp-small: "min-width: 401px";
$bp-medium: "min-width: 901px";
$bp-large: "min-width: 1101px";

$font-size: 18px;

//----------------- Colors

$c-white: #fff;
$c-black: #001f2b;

$c-blue-light: #59BAEE;
$c-blue-dark: #24596d;

//----------------- Type Mixins

$ff-heading: "Raleway", Helvetica, Arial, sans-serif;
$ff-body: Georgia, "Times New Roman", serif;

@mixin ff-heading {
  font-family: $ff-heading;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@mixin ff-body {
  font-family: $ff-body;
  font-weight: normal;
  font-style: normal;
}

//----------------- Misc Presets

@mixin transition-hover {
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
}

@include keyframes(introFade-top) {
  0% {
    opacity: 0;
    transform:translate3d(0, 50px, 0);
  }
  100% {
    transform:translate3d(0, 0px, 0);
    opacity: 1;
  }
}
@include keyframes(introFade-right) {
  0% {
    opacity: 0;
    transform:translate3d(-70px, 0, 0);
  }
  100% {
    transform:translate3d(0, 0px, 0);
    opacity: 1;
  }
}
@include keyframes(introFade-left) {
  0% {
    opacity: 0;
    transform:translate3d(70px, 0, 0);
  }
  100% {
    transform:translate3d(0, 0px, 0);
    opacity: 1;
  }
}
